:root{
    --primary: #393b44;
    --secondary: #dfdfdf;
    --text: hsl(56, 100%, 67%);
    --text-light: #d8f8ae;
    --text-dark: #583d72;
}
body{
    font-family: 'Times New Roman', Courier, monospace;
    background-color: var(--secondary);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    padding: 1rem 0 1.5rem 0;
    margin-bottom: 3rem;
    text-align: center;
    background-color: var(--primary);
    color: var(--text);
    border-radius: 0 0 20% 20%;
}
header p{
    margin-top:0.6rem;
    font-style: italic;
    color: var(--text-light);
}
main{
    margin: 2rem 3rem;
}
section{
    max-width: 60%;
    margin: auto;
}
footer{
    background-color: var(--primary);
    padding: 2rem;
    border-radius: 10% 10% 0 0;
}
footer div{
    max-width:80%;
    margin:auto;
    text-align: center;
    color: var(--text-light);
}
footer p{
    margin-top:0.4rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}
footer h4{
    color: var(--text);
}
.input textarea{
    width: 100%;
    outline: none;
    font-size: 1.2rem;
}
textarea::placeholder{
    font-size: 1rem;
    padding: 1rem 2rem;
}
.input button{
    border: none;
    padding: 1rem 2rem;
    background-color:var(--text);
    margin: 1rem 0;
}
.input button:hover{
    background-color: #fceb07;
    cursor: pointer;
    padding: 1.02rem 2.02rem;
}
.output div{
    border: 1px solid var(--primary);
    background-color: white;
    overflow: scroll;
    height: 30vh;
    margin-top:0.4rem;
}
.output p{
    color: var(--primary);
    font-style: italic;
    margin-top: 1rem;
}
